
<div id="logincontainer">
<h2 id="login"> Login </h2>
<div id="logindetails">
<form method="POST" action="/auth/login">
    
    <label for="auth-email" id="review">Email</label>
    <input type="email" class="form=control" name="email" id="auth-email">

<br>
<br>
    <label for="auth-password" id="review">Password</label>
    <input type="password" name="password" id="auth-password">
<br>
</div>
<br>

<div class="sub-main">
    <button class="button-three">Login</p> 

</form>
</div>
</div>