
<div id="signupdiv">

<h2>Signup </h2>

<form method="POST" action="/auth/signup">
    <label for="new-name">Name</label>
    <br>
    <input type="text" name="name" id="new-name">
    <br>
    <br>

    <label for="new-email">Email</label>
    <br>
    <input type="email" name="email" id="new-email">
    <br>
    <br>

    <label for="new-password">Password</label>
    <br>
    <input type="password" name="password" id="new-password">
    <br>
    <br>

    <div class="sub-main">
        <button class="button-three">Sign Up</p> 

</form>
</div>