 <h1>My Favorite Drinks</h1>

 <% drinks.forEach(function(drink){ %>

    <p>
        
            <%=drink.name%>
            <%=drink.ingredients%>
            <%=drink.instructions%>
            <%=drink.picture%>
            <input type="submit" value="Delete">
            <input type="submit" value="Update">
        </p>
        <%})%>
        <br>

    



