 <h1>My Favorite Drinks</h1>

 <% faveDrinks.forEach(function(drink){ %>

    <p>
            <%=drink.name%>
            <%=drink.ingredients%>
            <%=drink.instructions%>
           <img src="<%=drink.picture%>"width="300">
            <input type="submit" value="Delete">
        
        </p>
        <%})%>
        <br>

    



