 <p id="title">Drink Up</p>

 <div id="question"> What's your favorite Drink?!</div>



<form method="GET" action="/drinks"> 
    <label for="titleFilter"><b>Type Below:</b> </label> 
    <br>
    <input type="text" id="titleFilter" name="drinkTitle">
    <br>
    <input type="submit" value="search">
</form>
</div>