<h1> Drink Up </h1>

<h3> What's your favorite Drink?!</h3>



<form method="GET" action="/drinks"> 
    <label for="titleFilter"> Find a Drink: </label> 
    <input type="text" id="titleFilter" name="drinkTitle">
    <input type="submit" value="search">
</form>