 <p id="title">Drink Up</p>
 <br>
 <br>

 <div id="question"> What's your favorite Drink?!</div>

<br>
<br>

<form method="GET" action="/drinks"> 
    <p class="type"> <label for="titleFilter"><b>Type Below:</b> </label> </p>
    
    <p class="input"> <input type="text" id="titleFilter" name="drinkTitle"> </p>
    <br>
    <div class="sub-main">
        <button class="button-three">Search</p> 
</form>

</div>