<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Drink Up</title>
  
</head>
<body>
    <header>
       
        <nav id="signuppage">
            <ul>
                 
                <% if (!currentUser) { %>
                <a class="button-three" href="/auth/signup">Sign-up</a>
                
                <a class="button-three" href="/auth/login"> Log-in </a>
                <% } else { %>
                <a  class="button-three"href="/"> Home</a>
                <a  class="button-three"href="/profile">Profile</a>
                <a  class="button-three"href="/favorites"> My Favorites</a>
                <a class="button-three" href="/auth/logout">Logout</a>
                <% } %>
            </ul>
        </nav>
    </header>
    <%- include('partials/alerts') %>
    <%- body %>

</body>
</html>