<h2> <%= currentUser.name %>'s Profile </h2>

<br>
<br>
<div> <span class="border border-dark"><class="rounded-pill"></class></span>

<a href="http://localhost:8080/">
    <div class="sub-main">
        <button class="button-three">Return to Main Page </p> 

</div>
