body {
    background-image: url("https://wallpaperaccess.com/full/235919.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    width:100vw;
    color:white;
   }
   #login{
    font-size: 30px;
    
    font-family: Chalkduster, fantasy;

   }
   #logindetails{
    color:white;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    border: solid 5px #ccc;
    padding: 12px;
    text-align:center;
   }
   a{
       color:white;
   }
   #signuppage{
    text-align: left;
    margin-left: 1200px;
   }
   #title{
    font-family: Chalkduster, fantasy;
    font-size:55px;
    margin-top:150px;
   }
   
   #fav{
    font-family: fantasy;
   }
   #ingredients{
  margin: 0 auto;
  max-width: 300px;
  border: solid 5px #ccc;
  padding: 12px;
}
#drink{
  margin: 0 auto;
  max-width: 300px;
  border: solid 5px #ccc;
  padding: 12px;

}