body {
    background-image: url("https://cdn.hipwallpaper.com/i/4/97/LmtFh9.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    width:100vw;
    color:black;
    backdrop-filter: blur(5px);
   }

   

   #login{
    font-size: 30px;
    
    font-family: Chalkduster, fantasy;

   }
   #logindetails{
    color:black;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    border: solid 5px black;
    padding: 12px;
    text-align:center;
   }
   a{
       color:black;
   }
   #signuppage{
    text-align: left;
    margin-right: 1200px;
   }
   #title{
    font-family: Chalkduster, fantasy;
    font-size:55px;
    margin-top:150px;
   }
   
   #fav{
    font-family: fantasy;
   }
   #ingredients{
  margin: 0 auto;
  max-width: 300px;
  border: solid 5px black;
  padding: 12px;
}
#drink{
  margin: 0 auto;
  max-width: 300px;
  border: solid 5px black;
  padding: 12px;

}
button{
  color:white; 
  border: 2px, solid black; 
  background-color: black; 
}