body {
    background-image: url("https://media.istockphoto.com/vectors/coffee-and-cocktail-drinks-set-hand-drawn-outline-cartoon-vector-on-vector-id1078155944");
    background-repeat: no-repeat;
    background-color:black;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100vw;
   }